{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="announcement-list-container">
    <div class="header-row">
        <h2>Announcements</h2>
        <a href="{% url 'Announcement_create' %}" class="add-announcement-btn">+ Add New Announcement</a>
    </div>
    <div class="announcement-list">
        {% for announcement in posts %}
            <div class="announcement-item">
                <h3><a href="{% url 'Announcement_detail' announcement.pk %}" class="announcement-title">{{ announcement.type }}</a></h3>
                <p>{{ announcement.details|truncatechars:100 }}</p>
                <a href="{% url 'Announcement_detail' announcement.pk %}" class="view-details-link">View Details</a>
            </div>
        {% empty %}
            <p>No announcements available.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
